          
        <img src=".../{{single_user.image.url}}/">
            
            <p>Certificate Holder : {{ single_user.name }} </p> 
            <p>Certificate Number : {{ single_user.certificatenumber }} </p>
            <p>Email : {{ single_user.email }} </p>
            <p>gender : {{ single_user.gender }} </p>
            <p>Start date : {{ single_user.start_date }} </p>
            <p>End date : {{ single_user.end_date }} </p>
            <br>
            <hr>
            <br> 

    



