<h1 style="text-align: center;padding-top: 50px;">
    GET ANY USER DETAIL FROM HERE
</h1>

<body>

    <div style="text-align: center;padding-top: 50px;" > 
        create a search box where u can enter a number and it is searched to give u the required.
    </div>
    <br>
    <br>
    
    <div style="padding-left: 390px;">
        <form class="form-inline my-2" action="% url 'user' %" method='GET'>
      
            <input
              class="form-control search-box"
              type="search"
              placeholder="Find certificate..."
              name="search_term"
              value="{{search_term}}" 
              
            >
            <input type="submit">
          </form>

        {% for single_user in getuser %}
            
            {% include '_userdetail.html' %}
            
        {% endfor %}
        
    </div>
    
        
</body>
